@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

[data-aos="fade-up"] {
  transform: translateY(2px); /* Sesuaikan nilai sesuai kebutuhan */
}

@layer base {
  :root {
    --radius:
    0.625rem;
    --background:
    oklch(1 0 0);
    --foreground:
    oklch(0.148 0.004 228.8);
    --card:
    oklch(1 0 0);
    --card-foreground:
    oklch(0.148 0.004 228.8);
    --popover:
    oklch(1 0 0);
    --popover-foreground:
    oklch(0.148 0.004 228.8);
    --primary:
    oklch(0.218 0.008 223.9);
    --primary-foreground:
    oklch(0.987 0.002 197.1);
    --secondary:
    oklch(0.963 0.002 197.1);
    --secondary-foreground:
    oklch(0.218 0.008 223.9);
    --muted:
    oklch(0.963 0.002 197.1);
    --muted-foreground:
    oklch(0.56 0.021 213.5);
    --accent:
    oklch(0.963 0.002 197.1);
    --accent-foreground:
    oklch(0.218 0.008 223.9);
    --destructive:
    oklch(0.577 0.245 27.325);
    --border:
    oklch(0.925 0.005 214.3);
    --input:
    oklch(0.925 0.005 214.3);
    --ring:
    oklch(0.723 0.014 214.4);
    --chart-1:
    oklch(0.872 0.007 219.6);
    --chart-2:
    oklch(0.56 0.021 213.5);
    --chart-3:
    oklch(0.45 0.017 213.2);
    --chart-4:
    oklch(0.378 0.015 216);
    --chart-5:
    oklch(0.275 0.011 216.9);
    --sidebar:
    oklch(0.987 0.002 197.1);
    --sidebar-foreground:
    oklch(0.148 0.004 228.8);
    --sidebar-primary:
    oklch(0.218 0.008 223.9);
    --sidebar-primary-foreground:
    oklch(0.987 0.002 197.1);
    --sidebar-accent:
    oklch(0.963 0.002 197.1);
    --sidebar-accent-foreground:
    oklch(0.218 0.008 223.9);
    --sidebar-border:
    oklch(0.925 0.005 214.3);
    --sidebar-ring:
    oklch(0.723 0.014 214.4);
  }
  .theme {
    --font-heading:
    var(--font-sans);
    --font-sans:
    var(--font-sans);
  }
  .dark {
    --background:
    oklch(0.148 0.004 228.8);
    --foreground:
    oklch(0.987 0.002 197.1);
    --card:
    oklch(0.218 0.008 223.9);
    --card-foreground:
    oklch(0.987 0.002 197.1);
    --popover:
    oklch(0.218 0.008 223.9);
    --popover-foreground:
    oklch(0.987 0.002 197.1);
    --primary:
    oklch(0.925 0.005 214.3);
    --primary-foreground:
    oklch(0.218 0.008 223.9);
    --secondary:
    oklch(0.275 0.011 216.9);
    --secondary-foreground:
    oklch(0.987 0.002 197.1);
    --muted:
    oklch(0.275 0.011 216.9);
    --muted-foreground:
    oklch(0.723 0.014 214.4);
    --accent:
    oklch(0.275 0.011 216.9);
    --accent-foreground:
    oklch(0.987 0.002 197.1);
    --destructive:
    oklch(0.704 0.191 22.216);
    --border:
    oklch(1 0 0 / 10%);
    --input:
    oklch(1 0 0 / 15%);
    --ring:
    oklch(0.56 0.021 213.5);
    --chart-1:
    oklch(0.872 0.007 219.6);
    --chart-2:
    oklch(0.56 0.021 213.5);
    --chart-3:
    oklch(0.45 0.017 213.2);
    --chart-4:
    oklch(0.378 0.015 216);
    --chart-5:
    oklch(0.275 0.011 216.9);
    --sidebar:
    oklch(0.218 0.008 223.9);
    --sidebar-foreground:
    oklch(0.987 0.002 197.1);
    --sidebar-primary:
    oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground:
    oklch(0.987 0.002 197.1);
    --sidebar-accent:
    oklch(0.275 0.011 216.9);
    --sidebar-accent-foreground:
    oklch(0.987 0.002 197.1);
    --sidebar-border:
    oklch(1 0 0 / 10%);
    --sidebar-ring:
    oklch(0.56 0.021 213.5);
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@keyframes gradient-xy {
  0%, 100% {
    background-size: 400% 400%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

.animate-gradient-xy {
  animation: gradient-xy 15s ease infinite;
}